#code-page {
    .dropdown-item{
        color: white !important;
    }
    
    .test-case-div {
        margin-top: 2rem;
        background: linear-gradient(180deg, #28292c 0%, rgba(39, 40, 43, 0.82) 100%) !important;
        box-shadow: 0px 13px 40px #00000030, 0px 4px 4px #00000020;
        border-radius: 16px;
        padding: 1rem;
      }
    
    
    .my-editor {
        min-height: 40em;
        min-width: 100%;
        height: 100%; 
        border-radius: 0.5em;
        box-shadow: 10px 10px 15px #00000080;
    }
    
    .their-editor {
        min-height: 20em;
        min-width: 100%;
        height: 100%; 
        border-radius: 0.5em;
        box-shadow: 5px 5px 10px #00000060;
    }
}
