.compiling-box {
  margin-top: 2rem;
  background: linear-gradient(180deg, #28292c 0%, rgba(39, 40, 43, 0.82) 100%);
  box-shadow: 0px 13px 40px #00000030, 0px 4px 4px #00000020;
  border-radius: 16px;
  padding: 1rem;
  height: 12rem;
}


.test-case-box {
  font-size: 70%;
  text-align: center;
  padding: 1rem;
  border: 2px solid #4C53BE;
  width: 200px;
}

.sample-case-detail {
  white-space: pre-line;
  text-decoration-style: underline solid #4C53BE;
  margin-bottom: 30px;
}

.case-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.icon {
  height: 20px;
}

.icon-div {
  margin-left: 20px;
}

.result {
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 1rem;
}

.red {
  color: red;
}

.green {
  color: green;
}
